/**
 * Myplanet theme for reveal.js.
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/poppins/poppins.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 1em;
$mainFont: 'Poppins', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Poppins', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

$viewport-tiny: "max-width: 568px";
$viewport-small: "max-width: 768px";
$viewport-wide: "min-width: 1280px";

$white: #FFFFFF;
$light-grey: #EEEDEF;
$grey: #66646B;
$radiant: #F25930;
$ice: #9292A8;
$midnight: #2A2A49;

$patterns: (
	'molecules': (
		'intro-bg': #FAFAFA,
		'title-bg': #872E27,
	),
	'night-sky': (
		'intro-bg': #DEF9F6,
		'title-bg': #0D7D7F,
	),
	'orange-river': (
		'intro-bg': #FFEDE9,
		'title-bg': #872E27,
	),
	'playground': (
		'intro-bg': #FCECDB,
		'title-bg': #8E3E28,
	),
	'stream': (
		'intro-bg': #DEF9F6,
		'title-bg': #0D7D7F,
	),
);


body {
	font-size: 2.3vmin;
}
@media (#{$viewport-small}) {
	body {
		font-size: 16px;
	}
}

.reveal[class*="pattern--"] {
	background-position: center center;
	background-size: 133vmax auto;
}

@each $pattern-name, $pattern-settings in $patterns {
	.reveal.pattern--#{$pattern-name} {
		background-image: url('../../lib/myplanet/patterns/#{$pattern-name}/pattern.svg');

		.slides section.intro {
			background-color: map-get($pattern-settings, 'intro-bg');

			.logo {
				background-image: url("../../lib/myplanet/patterns/#{$pattern-name}/logo.svg");
			}
		}
		.slides section.title {
			background-color: map-get($pattern-settings, 'title-bg');
		}
		.progress span {
			background: map-get($pattern-settings, 'title-bg');
		}

		/*********************************************
		 * NAVIGATION CONTROLS
		*********************************************/
		.controls .navigate-left,
		.controls .navigate-left.enabled {
			border-right-color: map-get($pattern-settings, 'title-bg');
		}
		.controls .navigate-right,
		.controls .navigate-right.enabled {
			border-left-color: map-get($pattern-settings, 'title-bg');
		}
		.controls .navigate-up,
		.controls .navigate-up.enabled {
			border-bottom-color: map-get($pattern-settings, 'title-bg');
		}
		.controls .navigate-down,
		.controls .navigate-down.enabled {
			border-top-color: map-get($pattern-settings, 'title-bg');
		}
		.controls .navigate-left.enabled:hover {
			border-right-color: lighten( map-get($pattern-settings, 'title-bg'), 15% );
		}
		.controls .navigate-right.enabled:hover {
			border-left-color: lighten( map-get($pattern-settings, 'title-bg'), 15% );
		}
		.controls .navigate-up.enabled:hover {
			border-bottom-color: lighten( map-get($pattern-settings, 'title-bg'), 15% );
		}
		.controls .navigate-down.enabled:hover {
			border-top-color: lighten( map-get($pattern-settings, 'title-bg'), 15% );
		}
	}
}

.grid-wrapper {
	display: grid;
}

.reveal .slides {
	text-align: left;
}
.reveal .slides > section.past,
.reveal .slides > section.future,
.reveal .slides > section > section.past,
.reveal .slides > section > section.future {
	opacity: 1;
}
.reveal .controls {
	right: 4vmin;
	bottom: 4vmin;

	@media (#{$viewport-small}) {
		right: 2vmin;
		bottom: 2vmin;
	}
}

.reveal .slides section {
	box-sizing: border-box;
	padding: 0;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
	display: block;
}

.reveal section img {
	background: none;
	border: none;
	box-shadow: none;
	margin: 0;
}

@mixin section ($margin: 0) {
	@if ($margin == 0) {
		height: 100vh;
		margin: 0;
		width: 100vw;
	}
	@else {
		height: calc(100vh - #{2 * $margin});
		margin: $margin;
		width: calc(100vw - #{2* $margin});
	}
}

.reveal .slides section {
	@include section();

	background: $white;
}

.reveal .slides section.intro {
	@include section(4vmin);

	@media (#{$viewport-small}) {
		@include section(2vmin);
	}

	.logo-wrapper {
		display: flex;
		height: 100%;
	}

	.logo {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: auto;
		min-height: 200px;
		min-width: 200px;
		width: 33%;
	}
}

.reveal .slides section.title {
	@include section(4vmin);

	color: $white;
	margin-left: 22vw;
	width: calc(100vw - 4vmin - 22vw);

	@media (#{$viewport-small}) {
		@include section(2vmin);
	}

	.grid-wrapper {
		box-sizing: border-box;
		grid-template-areas:
			"header ."
			"content content"
			". credit";
		grid-template-columns: auto 40%;
		grid-template-rows: 40px 1fr auto;
		grid-column-gap: 10vmin;
		height: 100%;
		padding: 10vmin;
	}

	.logo {
		background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		background-repeat: no-repeat;
		background-size: 40px 40px;
		grid-area: header;
		height: 40px;
		width: 40px;
	}

	.content {
		align-self: center;
		grid-area: content;
	}

	h1 {
		color: $white;
	}

	.credit {
		align-self: end;
		grid-area: credit;
		line-height: 1.8em;

		hr {
			border: solid $light-grey;
			border-width: 1px 0 0 0;
			margin: 0 0 .8em 0;
			width: 20%;
		}
		.label {
			font-size: 60%;
			text-transform: uppercase;
		}
		.name {
			font-weight: bold;
		}
		.role {

		}
	}

	@media (#{$viewport-wide}) {
		.content {
			display: grid;
			grid-template-areas: "title description";
			grid-template-columns: auto 40%;
			grid-column-gap: 10vmin;
		}
		h1 {
			grid-area: title;
		}
		.description {
			grid-area: description;
			margin-top: 0.5em;
		}
	}
}

.reveal .slides section.subsection {
	@include section();

	background-color: $white;
	color: $midnight;
	text-align: left;

	.grid-wrapper {
		box-sizing: border-box;
		grid-template-areas: "header" "title" "description";
		grid-column-gap: 10%;
		grid-template-rows: 40px 1fr auto;
		height: 100%;
		padding: 10vmin;
	}

	.logo {
		background-image: url("../../lib/myplanet/logo/black/mark-outline.svg");
		background-repeat: no-repeat;
		background-size: 40px 40px;
		grid-area: header;
		height: 40px;
		width: 40px;
	}

	h1 {
		align-self: center;
		color: $midnight;
		grid-area: title;
		margin: 0;
	}

	.description {
		color: $ice;
		grid-area: description;
		min-height: 4em;
	}

	@at-root #{&}--midnight {
		background-color: $midnight;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		h1 {
			color: $white;
		}
		.description {
			color: $light-grey;
		}
	}
	@at-root #{&}--ice {
		background-color: $ice;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		h1 {
			color: $white;
		}
		.description {
			color: $light-grey;
		}
	}
	@at-root #{&}--radiant {
		background-color: $radiant;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		h1 {
			color: $white;
		}
		.description {
			color: $light-grey;
		}
	}
}

.reveal .slides section.quote {
	@include section();

	background-color: $white;
	color: $midnight;
	text-align: left;

	.grid-wrapper {
		box-sizing: border-box;
		grid-template-areas: "header" "content";
		grid-template-rows: 40px 1fr ;
		height: 100%;
		padding: 10vmin;
	}

	.logo {
		background-image: url("../../lib/myplanet/logo/black/mark-outline.svg");
		background-repeat: no-repeat;
		background-size: 40px 40px;
		grid-area: header;
		height: 40px;
		width: 40px;
	}

	blockquote {
		align-self: center;
		background: none;
		color: $grey;
		border: none;
		box-shadow: none;
		font-size: 2em;
		font-style: normal;
		margin: 0;
		max-width: 42ex;
		padding: 0;
		width: 100%;
	}
	hr {
		border: solid $ice;
		border-width: 1px 0 0 0;
		margin: .8em 0;
		width: 10%;
	}
	cite {
		color: $ice;
		display: block;
		font-size: 1rem;
	}

	@at-root #{&}--midnight {
		background-color: $midnight;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		blockquote {
			color: $white;
		}
		hr {
			border-color: $light-grey;
		}
		cite {
			color: $light-grey;
		}
	}
	@at-root #{&}--ice {
		background-color: $ice;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		blockquote {
			color: $white;
		}
		hr {
			border-color: $light-grey;
		}
		cite {
			color: $light-grey;
		}
	}
	@at-root #{&}--radiant {
		background-color: $radiant;
		color: $white;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/mark-outline.svg");
		}
		blockquote {
			color: $white;
		}
		hr {
			border-color: $light-grey;
		}
		cite {
			color: $light-grey;
		}
	}
}

.reveal .slides section.end {
	@include section();

	background-color: $light-grey;
	color: $midnight;

	.logo-wrapper {
		display: flex;
		height: 100%;
	}

	.logo {
		background: url("../../lib/myplanet/logo/radiant-orange/logo-outline.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: auto;
		min-height: 200px;
		min-width: 200px;
		width: 33%;
	}

	@at-root #{&}--radiant {
		background-color: $radiant;

		.logo {
			background-image: url("../../lib/myplanet/logo/white/logo-outline.svg");
		}
	}
}
